@charset "utf-8";
/* CSS Document */
* {
	font-family: 'Roboto Slab', serif;
    font-family: 'Source Sans 3', sans-serif;
}
#wrapper{
	margin:15px auto ;
	border: 1px  solid   #D7D7D7 ;
	box-shadow:0px 0px 15px  #A5A8B3;
	
	}
	#admin_login{
		background: linear-gradient( #0ff,#03f ); color:#FFF;
	}
	#admin_login:hover,#admin_login:focus{
		background: linear-gradient( #03f,#0ff ) !important; color:#FFF;
	}
@media (min-width: 768px) {
  .container {
    width: 750px;
	
  }
  
}
@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
  
}
@media  ( max-width: 767px) {
				.header_left{
					display:none !important;
					width:50% !important;	
					}
				
				/* .header_right{
					display:block !important;
					float:none !important;
					width:231px !important;
					margin:0px auto !important;
					padding-top: 2px 0px !important;
					height:90px !important;
				} */
				#wrapper{
					margin:15px 10px !important;
					}
						
			}
			@media (min-width:360px) and ( max-width:479px){
				.header_left{
					  display:none !important;
					  width:100% !important;	
				}
				.header-right{
					  display:block !important;
					  width:100% !important;
							
				}
					
			}
			@media(min-width:768px){
				
				/* .header_right{
							dispaly:block;
							float:none;
					width:231px !important;
					height:90px;
					margin:0px auto !important;
					
							
				} */
				.header_left{
					display:none;
					float:none;
					width:231px !important;
					height:90px;
					margin:0px auto;
					float:left;
				}
				
				}
			@media(min-width:992px){
				
				/* .header_right{
							float:right !important;
							display:inline-block;
							width:100% ;
							height:90px;
							margin:0px auto;
							
				} */
				.header_left{
					display:inline-block;
		
					width:100% !important;
					height:90px;
					margin:0px auto;
					
				}
				
				}
				@media(min-width:1200px){
				/* .header_right{
						    float: right;
							display:inline-block;
							width:231px;
							height:90px !important;
							margin:0px auto ;
							
				} */
				.header_left{
					display:inline-block;
					width:570px !important;
					height:90px;
					margin:0px auto;
				}
				}
			
			.navbar-inverse{
				background : linear-gradient( #03f,#0cF );
				background:-moz-linear-gradient( #03f,#0cF );
				background:-webkit-linear-gradient( #00f,#0cF );
				background:-o-linear-gradient( #03f,#0cF);
				
				}   /*   S t a n d a r d   s y n t a x   */
				/*rgba(255,0,0,0), rgba(255,0,0,1)*/
			.navbar-inverse .navbar-nav > li > a {
			  color: #FFF;
			}
			.navbar-inverse .navbar-nav > li > a:hover,
			.navbar-inverse .navbar-nav > li > a:focus {
 				 color: #FFF !important ;
 				 text-shadow:0px 0px 2px #0FF !important; 
				  background: linear-gradient( #03f,#0fF ) !important;
			}
			.navbar-inverse .navbar-nav > li > a{
				font: Georgia, "Times New Roman", Times, serif  !important ;
				font-weight : bold;
				font-size:16px;
				color:#FFF !important; }
			.navbar-inverse .navbar-brand {
				color:#FFF;
				font-size:20px;
			}
			.navbar-inverse .navbar-brand:hover {
				color:#FF0;
				font-size:20px;
			}
			.navbar-inverse .navbar-nav > .open > a,
			.navbar-inverse .navbar-nav > .open > a:hover,
			.navbar-inverse .navbar-nav > .open > a:focus {
  				color: #000;
  				background-color: cyan;
			}
			.dropdown-menu{
				background: linear-gradient( #0ff,#03F ) !important;
				background:-moz-linear-gradient( #0ff,#03F ) !important;
				background:-webkit-linear-gradient( #0ff,#03F ) !important;
				background:-o-linear-gradient( #0ff,#03F ) !important;
				border-top:0px;
			} /*background-color:cyan;*/
			.dropdown-menu > li > a {
				color:#FFF;
			}
